$zindex-modal: 9999999 !important;
$modal-backdrop-opacity: .5 !important;
$tooltip-arrow-color: #fff;
$tooltip-bg: #fff;
$tooltip-opacity: 1;
$tooltip-color: #000;
$font-size-base: 0.80rem;
$card-spacer-x: 0.8rem;
$card-spacer-y: 0.4rem;
$modal-inner-padding: 0.75rem;
$modal-header-padding: 0.7rem 0.5rem 0.5rem;
$modal-lg: 650px;

#modal-1, .main-wrapper {
    @import "bootstrap/scss/bootstrap";
    @import "bootstrap-vue/src/";

    .tooltip .tooltip-inner {
        -webkit-box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.19);
        box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.19);
    }

    .card{
        margin-right: 0;
		width: 100%;
		min-height: unset;
		padding: 0;
		-webkit-box-shadow: unset;
		box-shadow: unset;
		opacity: 1;
		-webkit-transform: unset;
		transform: unset;
    }

    .badge{
        width: unset;
        margin-right: 0;
        height: auto;
    }

    .modal-content{
        padding: 0;
    }


}