<template>
    <b-card
        class="mb-2 text-left border-0"
        width="100%"
        no-body
    >
        <b-card-body
            class="pt-0"
        >
            <b-card-title
                class="text-dark"
            >
                <div
                    class="text-white px-2 py-1 rounded h5"
                    style="background-color: #ff8500; width: fit-content"
                >
                    Description: (<span :class="[meta.description.length > 150 || meta.description.length < 100 ? 'text-danger' : '']">{{meta.description.length}}</span>)
                </div>
            </b-card-title>
            <b-card-text
                class="text-dark mb-4 px-0"
            >
                {{ meta.description }}
            </b-card-text>
            <b-badge
                v-if="error.description.og == false"
                pill
                variant="success"
            >
                og:description
                <b-icon
                    icon="check-circle-fill"
                >
                </b-icon>
            </b-badge>
            <b-badge
                v-else
                pill
                variant="danger"
                v-b-tooltip.hover
                :title="error.description.og"
            >
                og:description
                <b-icon
                    icon="exclamation-circle-fill"
                >
                </b-icon>
            </b-badge> <b-badge
                v-if="error.description.structure == false"
                pill
                variant="success"
            >
                structure-data 
                <b-icon
                    icon="check-circle-fill"
                >
                </b-icon>
            </b-badge>
            <b-badge
                v-else
                pill
                variant="danger"
                v-b-tooltip.hover
                :title="error.description.structure"
            >
                structure-data 
                <b-icon
                    icon="exclamation-circle-fill"
                >
                </b-icon>
            </b-badge>
        </b-card-body>
    </b-card>
</template>

<script>
	export default {
		props: [
            'meta',
            'error'
		],
	}
</script>
