<template>
    <b-card
        tag="article"
        width="100%"
        class="mb-2 text-left"
    >
        <b-card-title
            class="text-dark"
        >
            <div
                class="text-white px-2 py-1 rounded h5"
                style="background-color: #ff8500; width: fit-content"
            >
                og_image:
            </div>
        </b-card-title>
        <b-tabs content-class="mt-0 mb-4"
            align="center"
            pills
            end
        >
            <b-tab title="relative" active>
                <b-card-text
                    class="text-dark px-0"
                >
                    <b-link
                        :href="meta.relative_image"
                    >{{meta.relative_image}}</b-link>
                </b-card-text>
                <b-card-text
                    class="text-dark px-0"
                >
                    <b-badge
                        v-if="error.og_image.structure == false"
                        pill
                        variant="success"
                    >
                        structure-data 
                        <b-icon
                            icon="check-circle-fill"
                        >
                        </b-icon>
                    </b-badge>
                    <b-badge
                        v-else
                        pill
                        variant="danger"
                        v-b-tooltip.hover
                        :title="error.og_image.structure"
                    >
                        structure-data 
                        <b-icon
                            icon="exclamation-circle-fill"
                        >
                        </b-icon>
                    </b-badge>
                </b-card-text>
                <b-link
                    v-if="!error.relative_image"
                    :href="meta.relative_image"
                    target="_blank"
                >
                    <b-img
                        :src="meta.relative_image"
                        alt="og_image"
                        fluid
                        center
                        @error="error.relative_image = true"
                    >

                    </b-img>
                </b-link>

                <h1
                    v-else
                    class="text-center my-5 text-danger"
                >
                    Image not Found
                </h1>
            </b-tab>
            <b-tab title="absolute">
                <b-card-text
                    class="text-dark px-0"
                >
                    <b-link
                        :href="cleanImage"
                        target="_blank"
                    >{{cleanImage}}</b-link>
                </b-card-text>
                <b-card-text
                    class="text-dark px-0"
                >
                    <b-badge
                        v-if="error.og_image.structure == false"
                        pill
                        variant="success"
                    >
                        structure-data 
                        <b-icon
                            icon="check-circle-fill"
                        >
                        </b-icon>
                    </b-badge>
                    <b-badge
                        v-else
                        pill
                        variant="danger"
                        v-b-tooltip.hover
                        :title="error.og_image.structure"
                    >
                        structure-data 
                        <b-icon
                            icon="exclamation-circle-fill"
                        >

                        </b-icon>
                    </b-badge>
                </b-card-text>
                <b-link
                    v-if="!error.absolute_image"
                    :href="cleanImage"
                    target="_blank"
                >
                    <b-img
                        :src="cleanImage"
                        alt="og_image"
                        fluid
                        center
                        @error="error.absolute_image = true"
                    >

                    </b-img>
                </b-link>

                <h1
                    v-else
                    class="text-center my-5 text-danger"
                >
                    Image not Found
                </h1>
            </b-tab>
        </b-tabs>
    </b-card>
</template>

<script>
	export default {
		props: [
            'meta',
            'error',
            'cleanImage'
		],
	}
</script>
