<template>
    <b-card
        class="mb-2 text-left"
        width="100%"
        v-if="true"
    >
        <b-card-title
            class="text-dark"
        >
            <div
                class="text-white px-2 py-1 rounded h5"
                style="background-color: #ff8500; width: fit-content"
            >
                <span>
                    Structure Data:
                </span>
            </div>
        </b-card-title>
        <b-badge
            v-if="error.localizations.localized == false"
            pill
            variant="success"
        >
            localized
            <b-icon
                icon="check-circle-fill"
            >
            </b-icon>
        </b-badge>
        <b-badge
            v-else
            pill
            variant="danger"
            v-b-tooltip.hover
            :title="'Structure data not localized correctly'"
        >
            localized
            <b-icon
                icon="exclamation-circle-fill"
            >
            </b-icon>
        </b-badge>
        <template
            v-for="(value, key) in meta.structure"
        >
            <div
                :key="key"
            >
                <b-card-sub-title
                    class="mt-3 text-dark"
                >
                    <template
                        v-if="key == 'description'"
                    >
                        <span
                            :class="[value == meta.description ? 'text-success' : 'text-danger' ]"
                        >
                            {{key}}: 
                        </span>
                    </template>
                    <template
                        v-else-if="key == 'image'"
                    >
                        <span
                            :class="[value == cleanImage ? 'text-success' : 'text-danger' ]"
                        >
                            {{key}}: 
                        </span>
                    </template>
                    <template
                        v-else-if="key == '@id'"
                    >
                        <span
                            :class="[error.localizations[key] == false ? 'text-success' : 'text-danger' ]"
                        >
                            
                            {{key}}: 
                        </span>
                        <span
                            v-if="error.localizations[key] != false"
                            class="text-dark"
                        >
                            {{key}}: 
                        </span>
                    </template>
                    <template
                        v-else-if="key == 'url'"
                    >
                        <span
                            :class="[error.localizations[key] == false ? 'text-success' : 'text-danger' ]"
                        >
                            
                            {{key}}: 
                        </span>
                        <span
                            v-if="error.localizations[key] != false"
                            class="text-dark"
                        >
                            {{key}}: 
                        </span>
                    </template>
                    <template
                        v-else-if="key == 'mainEntityOfPage'"
                    >
                        <span
                            :class="[error.localizations[key] == false ? 'text-success' : 'text-danger' ]"
                        >
                            
                            {{key}}: 
                        </span>
                    </template>
                    <template
                        v-else
                    >
                        <span
                            class="text-dark"
                        >
                            {{key}}: 
                        </span>
                    </template>
                </b-card-sub-title>
                <b-card-text
                    class="text-dark"
                >
                    {{value}}
                </b-card-text>
            </div>
        </template>
    </b-card>
</template>

<script>
	export default {
		props: [
            'meta',
            'error',
            'cleanImage',
            'geoData',
        ],
	}
</script>
