<template>
    <b-card
        class="mb-2 text-left border-0"
        width="100%"
    >
        <b-card-title
            class="text-dark"
        >
            <div
                class="text-white px-2 py-1 rounded h5 d-inline-block"
                style="background-color: #ff8500; width: fit-content"
            >
                Title: 
                <span>
                    ({{meta.title.length}})
                </span>
            </div>
            <div
                class="text-white px-2 py-1 rounded h5 float-right"
                style="background-color: #ff8500; width: fit-content"
            >
                {{geoData.id}}
            </div>
        </b-card-title>
        <b-card-text
            class="text-dark px-0"
        >
            {{ meta.title }}
            <b-button
                v-if="!error.localizations.title"
                v-show="error.localizations.ready"
                class="border-0"
                variant="transparent"
                v-b-tooltip.hover
                :title="'Localizado'"
            >
                <p
                    class="ma-0 pa-0"
                    style="margin-block-end: 0;"
                >
                    <b-icon
                        icon="check-circle-fill"
                        variant="success"
                    >
                    </b-icon>
                </p>
            </b-button>
            <b-button
                v-else
                v-show="error.localizations.ready"
                class="border-0"
                variant="transparent"
                v-b-tooltip.hover
                :title="'Error'"
            >
                <p
                    class="ma-0 pa-0"
                    style="margin-block-end: 0;"
                >
                    <b-icon
                        icon="exclamation-circle-fill"
                        variant="danger"
                    >
                    </b-icon>
                </p>
            </b-button>
        </b-card-text>
    </b-card>
</template>

<script>
	export default {
		props: [
            'meta',
            'error',
            'geoData'
		],
	}
</script>
