<template>
	<div>
		<title-card
			:meta="meta"
			:error="error"
			:geoData="geoData"
		>
		</title-card>
		<description-card
			:meta="meta"
			:error="error"
		>
		</description-card>

		<image-card
			:meta="meta"
			:error="error"
			:cleanImage="cleanImage"
		>
		</image-card>

		<structure-card
			:meta="meta"
			:error="error"
			:cleanImage="cleanImage"
			:geoData="geoData"
		>
		</structure-card>
	</div>
</template>

<script>
	import axios from 'axios';

	import TitleCard from '@/components/cards/TitleCard';
	import DescriptionCard from '@/components/cards/DescriptionCard';
	import ImageCard from '@/components/cards/ImageCard';
	import StructureCard from '@/components/cards/StructureCard';

	export default {
		props: [
			'meta'
		],
		data: () => {
			return {
				error: {
					absolute_image: false,
					relative_image: false,
					description: {
						og: null,
						structure: null,
					},
					og_image: {
						structure: null,
					},
					localizations: {
						'ready': false,
						'localized': false,
						'title': null,
						'@id': null,
						'url': null,
						'mainEntityOfPage': null
					}
				},
				geoData: {},
			}
		},
		methods: {
			validateData(){
				if(this.meta.description == this.meta.og_description){
					this.error.description.og = false;
				}else{
					this.error.description.og = 'Copy mismatches with description';
				}

				if (this.structure != null) {
					if (this.structure.description) {
						if(this.meta.description == this.structure.description){
							this.error.description.structure = false;
						}else{
							this.error.description.structure = 'Copy mismatches with description';
						}	
					}else{
						this.error.description.structure = 'Structure data not found';
					}
				}else{
					this.error.description.structure = 'Structure data not found';
				}

				if (this.structure != null) {
					if (this.structure.image) {
						if(this.cleanImage == this.structure.image){
							this.error.og_image.structure = false;
						}else{
							this.error.og_image.structure = 'Image mismatches with og:image';
						}	
					}else{
						this.error.og_image.structure = 'Structure data not found';
					}	
				}else{
					this.error.og_image.structure = 'Structure data not found';
				}
			},
			checkGeoUrl(property){
				let structureData = this.meta.structure;
				let auxReturn = false;
				
				if(structureData[property] && structureData[property].includes(this.geoData.wwwDomain + this.geoData.stageRootPath + '/')){
					this.error.localizations[property] = false;
					auxReturn = true;
				}else{
					this.error.localizations[property] = 'Property not localized correctly';
				}

				return auxReturn;
			},
			localizateData(){
				let lang = document.querySelector("meta[property='og:locale']");
				lang = lang.getAttribute("content")

				axios.get("https://geo.iapps.apple.com/geo/" + lang)
				.then(response => {
					this.geoData = response.data[lang];
					let localized = true;

					console.log(this.geoData);

					if(this.meta.title.endsWith(this.geoData.homePageTitle) || this.meta.title.endsWith(this.geoData.pageTitleSuffix)){
						this.error.localizations.title = false;
						console.log('title localizado');
					}else{
						this.error.localizations.title = 'error';
						console.log('error');
					}

					if (this.checkGeoUrl('@id') && this.checkGeoUrl('url') && this.checkGeoUrl('mainEntityOfPage')) {
						localized = true;
					}else{
						localized = false;
					}

					this.error.localizations.ready = true;
					this.error.localizations.localized = localized;
				})
				.catch(error => {
					this.error.localizations.ready = true;
					this.error.localizations.localized = false;
					console.error("There was an error!", error);
				});
			}
		},
		mounted() {
			this.validateData();
			this.localizateData();
		},
		computed: {
			cleanImage: function(){
				let auxReturn = '';
				let mRegex = /(.)+(?:\?)/g;

				auxReturn = mRegex.exec(this.meta.og_image)[0];
				auxReturn = auxReturn.replace("?", "");

				return auxReturn;
			},
			structure: function(){
				let structure = null;

				if(this.meta.structure != null){
					structure = {
						description: this.meta.structure.description,
						image: this.meta.structure.image,
					}
				}

				return structure;
			}
		},
		components: {
			TitleCard,
			DescriptionCard,
			ImageCard,
			StructureCard,
		}
	}
</script>
