<template>
	<div class="main-wrapper">
		<b-overlay
			v-if="loading"
			:show="loading"
			no-wrap
			:fixed="true"
			z-index="99999999"
			class="text-dark"
		></b-overlay>
		<b-modal
			id="modal-1"
			ref="my-modal"
			v-else
			v-model="modalShow"
			size="lg"
			centered
			hide-footer
			no-close-on-backdrop
			no-close-on-esc
		>
			<template v-slot:modal-header="{ close }">
				<!-- Emulate built in modal header close button action -->
				<img
					left
					src="./assets/logo.png"
					alt="Left image"
					width="21px"
					height="30px"
					class="ml-2"
				/>
				<h5
					class="text-white mt-1 mb-0"
				>
					Meta
				</h5>
				<b-button
					class="button-download border-0"
					variant="outline-primary"
					@click="close()"
				>
					<p
						class="h5 text-white ma-0 pa-0"
						style="margin-block-end: 0;"
					>
						<b-icon
							class="icon-download"
							icon="x-circle-fill"
						></b-icon>
					</p>
				</b-button>
			</template>
			<meta-box
				:meta="meta"
			></meta-box>
		</b-modal>
	</div>
</template>

<script>
	import MetaBox from './components/MetaBox';

	export default {
		data: function () {
			return {
				loading: true,
				meta: {
					'title': '',
					'description': '',
					'og_description': '',
					'og_image': '',
					'relative_image': '',
					'structure': '',
				},
				modalShow: true,
				viaJs: require('@/assets/logo.png') // eslint-disable-line no-undef
			}
		},
		components: {
			MetaBox,
		},
		computed: {
			cleanImage: function(){
				let auxReturn = '';
				let mRegex = /(.)+(?:\?)/g;

				auxReturn = mRegex.exec(this.meta.og_image)[0];
				auxReturn = auxReturn.replace("?", "");

				return auxReturn;
			},
		},
		methods: {
			modalClose(){
				this.$root.$on('bv::modal::hide', (bvEvent, modalId) => {
					bvEvent;
					modalId;
					setTimeout(function (){
						
						let elements = document.querySelectorAll('[ref="meta-bookmarklet"]');
						if (elements.length > 0 ) {
							for (let i = 0; i < elements.length; i++) {
								let element = elements[i];
								element.parentElement.removeChild(element);
							}
							document.body.setAttribute('count', 0);
						}
					}, 500);
				})
			},
			async getImage(url){
				return new Promise(function(resolve, reject){
					var img = new Image()

					function addCount() {
						let body = document.body;
						let count = body.getAttribute('count');
						if (count != null) {
							count++;
							body.setAttribute('count', count);
						}else{
							count = 1;
							body.setAttribute('count', count);
						}
					}

					img.onload = function(){
						addCount();
						
						resolve({
							'src': this.src,
							'width': this.width,
							'height': this.height,
						});
					}
					img.onerror = function(){
						addCount();

						reject(url)
					}

					img.src = url
				})
			}
		},
		mounted() {
			let title = document.getElementsByTagName("title");
			let metas = document.getElementsByTagName("meta");
			let scripts = document.getElementsByTagName("script");

			// title
			this.meta.title = title[0].innerHTML;

			// description and og_image
			for (let i = 0; i < metas.length; i++) {
				let count = 0;

				if (count <= 3) {
					if (this.meta.description == '') {
						if (metas[i].getAttribute("name") == 'Description') {
							this.meta.description = metas[i].getAttribute("content");
							count++;

							continue;
						}
					}

					if (this.meta.og_description == '') {
						if(metas[i].getAttribute("property") == "og:description") {
							this.meta.og_description = metas[i].getAttribute("content");
							count++;

							continue;
						}
					}
					
					if (this.meta.og_image == '') {
						if(metas[i].getAttribute("property") == "og:image") {
							this.meta.og_image = metas[i].getAttribute("content");
							count++;

							continue;
						}
					}
				}else{
					break
				}
			}
			// structure data
			let structures = [];
			for (let i = 0; i < scripts.length; i++) {
				if (this.meta.structure == '') {
					if (scripts[i].getAttribute("type") == 'application/ld+json') {
						let parse = null;
						try {
							parse = JSON.parse(scripts[i].innerHTML);
							structures.push(parse);
						} catch(e) {
							console.log(e); // error in the above string (in this case, yes)!
							structures.push(parse);
						}
					}
				}
			}

			let last;

			if (structures.length <= 2) {
				last = structures.length - 1;
			}else{
				last = 1;
			}
			
			this.meta.structure = structures[last];

			// get og_image
			let url = this.cleanImage;
			this.getImage(url).then(function(successUrl){
				successUrl;
			}).catch(function(errorUrl){
				console.log('image ' + errorUrl + ' not found.');
			})

			// set relative og_image
			url = new URL(this.cleanImage);
			url.protocol = window.location.protocol; 
			url.hostname = window.location.hostname;
			url.port = window.location.port;
			this.meta.relative_image = url.href;

			this.getImage(this.meta.relative_image).then(function(successUrl){
				successUrl;
			}).catch(function(errorUrl){
				console.log('image ' + errorUrl + ' not found.');
			})

			var checkLoading = window.setInterval(() => {
				let body = document.body;
				let count = body.getAttribute('count')
				if(count >= 2){
					setTimeout(() => this.loading = false, 500);
					
					clearInterval(checkLoading)
				}
			}, 500)

			this.modalClose();
		},
	};
</script>

<style lang="scss">
	#modal-1 .nav, .main-wrapper .nav{
		margin: 0;
	}

	#modal-1___BV_modal_outer_ {
		z-index: 9999999 !important;
	}

	#modal-1___BV_modal_outer_ .modal {
		z-index: 9999999 !important;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}

	#modal-1___BV_modal_outer_ .modal-backdrop {
		opacity: .5 !important;
		background-color: #000;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1040;
		width: 100vw;
		height: 100vh;
	}

	#modal-1___BV_modal_outer_ .modal-content{
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		pointer-events: auto;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid rgba(0,0,0,.2);
		border-radius: .3rem;
		outline: 0;
	}

	.modal-open #modal-1___BV_modal_outer_ .modal{
		overflow-x: hidden;
		overflow-y: auto;
	}

	body.modal-open {
		overflow: hidden;
	}

	#modal-1___BV_modal_outer_ .modal-header{
		background-color: #0044fe!important;
	}

</style>
